<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviemon List</title>
    <link rel="stylesheet" type="text/css" href="css/capture.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="script/capture.js"></script>
</head>
<body>
    <!--total-->
    <div id="page-wrapper">
        <!--header-->
        <header id="main-header">
            <hgroup>
                <h1>Capture Moviemon</h1>
                <h2>-Capture your moviemon</h2>
            </hgroup>
        </header>
        <!--content-->
        <div id="content">
            <div class="score"><p>Score {{ count }} / 10</p></div>
            <!--captrued moviemon-->
            {% for i in 0..9 %}
            <div class="poster" onclick="ClickPoster('{{ title[i] }}', '{{ year[i] }}', '{{ rating[i] }}', '{{ director[i] }}', '{{ plot[i] }}', '{{ signal[i] }}')" style="background-image: linear-gradient(rgba(0, 0, 0, {{ capture[i] }}), rgba(0, 0, 0, {{ capture[i] }})), url({{ post[i] }});">
            </div>
            {% endfor %}
            <!--button-->
            <div id="button-div" class="pull-left">
                <div id="save-div">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!--footer-->
        <footer id="main-footer">
            <p class="footer-margin">php | piscine | rush00 | project | by. slee2, sujo</p>
            <p class="footer-margin">Born to code. 42Seoul...</p>
            <div class="git-address">
                <img class="pull-left" src="img/github.png" alt="">
                <p class="pull-left"><span>slee2</span> : https://github.com/Lee-seungju</p>
            </div>
            <div class="git-address">
                <img class="pull-left" src="img/github.png" alt="">
                <p class="pull-left"><span>sujo</span> : https://github.com/josuhee</p>
            </div>
        </footer>
    </div>
</body>
</html>
